@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

body {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  font-size: 30px;
}

.score-board {
  margin-top: 30px;
  width: 75%;
  background-color: rgb(129, 250, 250);
  padding: 40px;
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  height: 450px;
}

h2 {
  font-size: 30px;
}

.refresh-score {
  display: flex;
  gap: 50px;
}

button {
  background: none;
  padding: 5px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
  width: 100px;
}

button:hover {
  background-color: white;
  -webkit-transition: background-color 100ms ease-in;
  -ms-transition: background-color 100ms ease-in;
  transition: background-color 100ms ease-in;
}

.scores {
  border: 2px solid #000;
  border-radius: 10px;
  margin-top: 20px;
  list-style: none;
  overflow: hidden;
  overflow-y: scroll;
  height: 80%;
}

.scores::-webkit-scrollbar {
  width: 1em;
}

.scores::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scores::-webkit-scrollbar-thumb {
  background-color: rgb(122, 93, 93);
  outline: 1px solid slategrey;
}

.scores > li {
  padding: 5px;
  font-size: 20px;
  font-weight: 700;
}

.scores > li:nth-child(even) {
  background-color: #a6a6a6;
}

.add-score {
  width: 50%;
}

#add-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 15px;
}

input {
  padding: 5px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
  width: 100%;
}
